<!-- index.hbs -->
<h1>SHEEP Sneakers</h1>
<p> Welcome to our Sneaker browsing and buying business! </p>
<ul> <!-- navbar -->
    <li><a class="active" href="">Sneakers</a></li>
    <li><a href="">Sneaker Finder</a></li>
    <li><a href="">Locations</a></li>
    <li><a href="">Customers</a></li>
    <li><a href="">Employees</a></li>
    <li><a href="">Sales</a></li>
</ul>
<h2>Sneaker Search</h2> <!-- Sneakers page stuff -->
{{!-- Create a table --}}
<table border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, name, and price, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.productID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>